*{
  padding: 0;
  margin:0;
}

.App{
  text-align: center;
}

nav{
  min-height: 10vh;
  display:flex;
  justify-content: space-around;
  align-items: center;
  background-color: #000000;
  color: white;

}


.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.grid-container{
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-auto-rows: 90vh;
  background-color: #FCFAEB;
}

.wing{
  display: grid;
  grid-template-columns: 20% 20% 20%;
  column-gap: 10%;
  align-items: center;
  justify-content: center;
}


.login-component{
  display: flex;
  align-items: center;
  justify-content: center;
}


.floating-popup{
  border-radius: 25px;
  min-width: 90%;
  min-height: 40%;
  background-color: #E48520;
}

.inner-login-component-container{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: 100%;
}

.label-container{
  min-height: 500px;
}

.sign-up{
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 100px;
}



.feather{
  
  border-color:transparent;
  border-radius: 6px;
  min-width: 20%;
  min-height: 40%;
  background-color: #000000;
}

.middle{
  background-color: #163A1E;
  animation: middleWingFly 2s both infinite ease-in-out alternate;
}

.right{
  background-color: #E0EEDE;
  animation: sideWingFly 2s both infinite ease-in-out alternate;
}

.left{
  background-color:#F5C654;
  animation: sideWingFly 2s both infinite ease-in-out alternate;
}

@keyframes middleWingFly {
    0%{
      transform: translateY(-50%);
    }
    100%{
      transform: translateY(50%);
    }
}

@keyframes sideWingFly {
  0%{
    transform: translateY(50%);
  }
  100%{
    transform: translateY(-50%);
  }
}

.slider{
  position:absolute;
  max-width:25%;
  max-width: 25%;
  min-width:25%;
  min-width: 25%;
}