*{
  padding: 0;
  margin:0;
}

.App{
  text-align: center;
}

nav{
  min-height: 10vh;
  display:flex;
  justify-content: space-around;
  align-items: center;
  background-color: #000000;
  color: white;

}


.nav-links{
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.grid-container{
  display: grid;
  grid-template-columns: 25% 50% 25%;
  grid-auto-rows: 90vh;
  background-color: #FCFAEB;
}

.wing{
  display: flex;
  align-items: center;
  justify-content: center;
}

.wing svg{
  width: 90%;
  height: auto;
}

.login-component{
  display: flex;
  align-items: center;
  justify-content: center;
}


.floating-popup{
  border-radius: 25px;
  min-width: 90%;
  min-height: 40%;
  background-color: #E48520;
}

.inner-login-component-container{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-auto-rows: 100%;
}

.label-container{
  min-height: 500px;
}

.sign-up{
  display: grid;
  grid-template-columns: 50% 50%;
  row-gap: 100px;
}